*.config.js
*.conf.js
.coverage
.dockerignore
.editorconfig
.env*
.eslintrc.js
.git
.gitattributes
.gitignore
.huskyrc.js
.npmrc
.nvmrc
.nycrc
.nyc_output
.scanner
.vscode
*.md
Dockerfile
node_modules
sonar-project.properties
tests
